html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
    height: 500px;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size:cover; 
    background-color: #efefef;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
    place-items: center;
}

header h1 {
    font-size: 4rem;
    /
    text-align: center;
    */
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    
    border-right: 0.15em solid rgb(12, 12, 12);
    animation: typing 6s steps(20) infinite;
    /*
    animation: typing 4s steps(20) 1s 1 normal both, blink 1s steps(1) infinite;
    */
    }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink {
        50% {
          border-color: transparent;
        }
}
.container {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    
}

img {
    border-radius: .5em;
    /*
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.3);
    */
    transition: 0.5s;
    object-fit: cover;
}
/*
img:hover {
    transform: scale(1.1);
}
*/
section article {
     transition: all 0.3s ease;
     background-color: #fff;
     margin: 1rem 0;
     border-radius: 0.5rem;
     padding: 0.25rem 0;
     cursor: pointer;
}
section article:hover {
    transform: scale(1.7);
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}
section article h2, section article p {
    margin: 1rem;
}
footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}
footer section {
    float: left;
}
footer p {
    margin: 0;
    text-align: center;
}
footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: cornflowerblue
}
